/*--------------------------------------------------FUENTES---------------------------------------------------------------------*/

/*font-family: 'Barlow Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow+Condensed:wght@500&display=swap');

/*font-family: 'Architects Daughter';*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


/*-----------------------------------------------------BODY-------------------------------------------------------------------*/
body{
    margin:0;
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,1) 8%, rgba(69,55,53,1) 13%, rgba(80,58,54,1) 17%, rgba(94,61,55,1) 23%, rgba(128,69,58,1) 31%, rgba(145,73,60,1) 38%, rgba(156,76,61,1) 43%, rgba(255,99,71,1) 75%);
    background-attachment: fixed;
    background-size: cover;
}

/*----------------------------------------------------HEADER-----------------------------------------------------------------*/

header{
    background-color: #272626;
}

#contenedor-de-contenedor-header{
    position: relative;
    background-color: #272626 ;
    height: 150px;
    font-family: 'Barlow Condensed', sans-serif;
}
#contenedor-header{
    position: absolute;
    left: 20px;
    font-size: 15px;
    margin: 30px;
    color: #FF6347;


}

/*-----------------------------------------------------MAIN-------------------------------------------------------------------*/

#contenedor-de-contenedor-main{
    position: relative;

    height: 200px;
}

#contenedor-main{
    margin-top:100px;
    text-align: center;
    height: 200px;
   
}

#imagen-cancion{

    width:  250px;
    height: 250px;
    margin: 0 auto;
    box-shadow: -1px 1px 14px 4px #333333;
    
}

#contenedor-letra{
    position: relative;
    
    margin-top:60px;
}

#letra{
    text-align: center;
    padding-top: 20px;
    
    margin-bottom:100px
}
.parrafo{

    color: #ffffff;
    text-align: center;
    font-family: 'Architects Daughter';
    font-size: 20px;
    
}

/*-------------------------------------------------FOOTER------------------------------------------------------------*/

footer{
    background-color: #272626;
    
    margin:0
}

#contenedor-de-contenedor-footer{
    position: relative;
    height: 300px;
    
}

#contenedor-footer{
    position: absolute;
    bottom:30px;
    right: 30px;
    color:#FF6347;
    
}

#contenedor-imagen-volver-atras{
    
    height: 300px;
}

#contenedor-imagen-volver-atras img {
    width: 50px;
    height: 50px;
    margin-top: 100px;
   
    
    
}


#imagen-volver-atras{

    text-align:center;

}

