
/*--------------------------------------------------FUENTES---------------------------------------------------------------------*/

/*font-family: 'Barlow Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow+Condensed:wght@500&display=swap');

/*font-family: 'Architects Daughter';*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');



/*---------------------------------------------------BODY-------------------------------------------------------------------*/
body{
    margin:0 ;
    background-color: #FF6347

}

/*--------------------------------------------------HEADER----------------------------------------------------------*/
header{
    background-color: rgb(39, 38, 38);
    
    margin-top:0;
}

#caja-logo-header{
    position:relative;
    height: 130px;
}

#playlist-header{

    position:absolute;
    margin: 0;
    padding-top: 60px ;
    padding-left: 20px;
    color: #FF6347;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    
    
}

h1{
    margin:0;
}

/*----------------------------------------------MAIN-----------------------------------------------------------*/

/*-----------TABLA------------*/
table{
    border: #333333  1px;
    margin: 30px auto;
    width: 800px;
    height: 100px;
    font-family: 'Architects Daughter';

}
th{
    border: #333333 solid 2px;
    
}
td{
    border: #333333 solid 2px;
    text-align: center;

    
}
.color-par-tabla{
    background-color:white
    
}

#caja_de_tabla{

    position: relative;

    
}

#tabla{
    position: relative;
   
    
}

/*
#fondo-tabla{

    
    
}
*/


.color-impar-tabla{

    background-color: #9e9e9e;
}

/*IMAGENES DE TABLA*/
.imagen_tabla{
    width: 50px;
    height: 50px;
    margin:0;
}



/*-------------------------------------------------------------FOOTER-------------------------------------------------*/

footer{

    background-color:#272626 ;
    margin: 0;
    
    
}
#caja-footer{

    position: relative;
    height: 200px;;
}

#caja-de-caja-footer{

    position: absolute;

    font-size: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #ff6347;
    right: 30px;
    bottom: 30px;

}

#caja-de-caja-footer-2{

    text-align: center;
    padding-top: 30px;;
}





    


